body {
    font-family: 'Prompt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f8f9fa;
    position: relative;
    margin: 0;
    padding: 0;
}

.section-heading {
    margin-bottom: 20px;
}

.img-wrap img {
    height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover;
}

.img-wrap {
    overflow: hidden;
    position: relative;
}

.card-product-grid {
    margin-bottom: 20px;
}

.card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 220px;
}


.card-product-grid:hover {
    box-shadow: 0 4px 15px rgb(153 153 153 / 30%);
    transition: 0.3s;
}

.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

.card-product-grid .fix-height {
    height: 80px;
    overflow: hidden;
}

.card .img-wrap {
    overflow: hidden;
}

.img-wrap {
    text-align: center;
    display: block;
}

a.title {
    color: #212529;
    display: block;
}

.price {
    font-weight: 600;
    color: #212529;
}

figcaption {
    padding: 15px;
    background: #FFF;
}

.filter-group {
    border-bottom: 1px solid #e4e4e4;
}

.filter-group .card-header {
    border-bottom: 0;
}

.icon-control {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}

.card-header .title {
    margin-bottom: 0;
    line-height: 1.5;
}

.list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.list-menu li {
    margin-bottom: 5px;
}

.filter-content>.card-body {
    padding-top: 0px;
}

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #2e6bd3;
    color: white;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper .list-group-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}

#page-content-wrapper {
    min-width: 100vw;
    background: #f8f9fa !important;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("../img/ajax-loader.gif") center no-repeat;
}
/* Turn off scrollbar when body element has the loading class */
body.loading{
    overflow: hidden;
}
/* Make spinner image visible when body element has the loading class */
body.loading .overlay{
    display: block;
}

.register-wrapper {
    padding: 25px;
    background: #FFF;
}

.admin-container {
    background: #FFF;
    margin: 25px 15px;
    padding: 25px
}

.btn-primary {
    background: #2e6bd3;
    border-color: #2e6bd3;
}

.btn-secoundary {
    background: #FFF;
    border-color: #2e6bd3;
    color: #2e6bd3;
}

.btn-light {
    background-color: #fff;
    border-color: #e4e4e4;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
}

.badge {
    padding: 5px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2e6bd3;
    border-color: #2e6bd3;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #2e6bd3;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }

  .category-tag .tagify {
      width: 300px;
      height: 100%;
      overflow: hidden;
      margin-right: 15px;
  }

  .promotion-tag .tagify {
    width: 300px;
    height: 100%;
    overflow: hidden;
    margin-right: 15px;
}

@media (max-width: 767.98px) {
    .register-wrapper {
    margin: 15px;
    }

    section {
    padding: 25px 0;
    }
}

.login-img-wrapper {
    padding: 0px;
}

.login-form-wrapper {
    padding: 0px;
}

#content {
    margin: 50px;
}

@media (max-width: 767.98px) {
    .login-img-wrapper {
        padding: 15px;
    }

    .login-form-wrapper {
        padding: 15px;
    }

    #content {
        margin: 0px;
    }
}


@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
