body {
    font-family: 'Prompt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f8f9fa;
    position: relative;
    margin: 0;
    padding: 0;
}

.section-heading {
    margin-bottom: 20px;
}

.img-wrap img {
    height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    -o-object-fit: cover;
    object-fit: cover;
}

.img-wrap {
    overflow: hidden;
    position: relative;
}

.card-product-grid {
    margin-bottom: 20px;
}

.card-product-grid .img-wrap {
    border-radius: 0.2rem 0.2rem 0 0;
    height: 220px;
}


.card-product-grid:hover {
    box-shadow: 0 4px 15px rgb(153 153 153 / 30%);
    transition: 0.3s;
}

.card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
}

.card-product-grid .fix-height {
    height: 80px;
    overflow: hidden;
}

.card .img-wrap {
    overflow: hidden;
}

.img-wrap {
    text-align: center;
    display: block;
}

a.title {
    color: #212529;
    display: block;
}

.price {
    /*font-weight: 600;*/
    color: #212529;
}

figcaption {
    padding: 15px;
    background: #FFF;
}

.filter-group {
    border-bottom: 1px solid #e4e4e4;
}

.filter-group .card-header {
    border-bottom: 0;
}

.icon-control {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}

.card-header .title {
    margin-bottom: 0;
    line-height: 1.5;
}

.list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.list-menu li {
    margin-bottom: 5px;
}

.filter-content>.card-body {
    padding-top: 0px;
}

#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #2e6bd3;
    color: white;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper .list-group-item {
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#page-content-wrapper {
    min-width: 100vw;
    background: #f8f9fa !important;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("../img/ajax-loader.gif") center no-repeat;
}
/* Turn off scrollbar when body element has the loading class */
body.loading{
    overflow: hidden;
}
/* Make spinner image visible when body element has the loading class */
body.loading .overlay{
    display: block;
}

.pending-form-wrapper {
    width: 100%;
    height: auto;
}

.login-form-wrapper {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 35px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-wrapper {
    padding: 25px; 
    background: #FFF;
}

.register-wrapper {
    padding: 25px;
    background: #FFF;
}

.admin-container {
    background: #FFF;
    margin: 25px 15px;
    padding: 25px;
    border-radius: .25rem;
    min-height: 85vh;
}

nav {
    border-bottom: none !important;
}

/*
.btn {
    border-radius: 25px;
}
*/

.btn-primary {
    background: #2e6bd3;
    border-color: #2e6bd3;
}

.btn-secoundary {
    background: #FFF;
    border-color: #2e6bd3;
    color: #2e6bd3;
}

.btn-light {
    background-color: #fff;
    border-color: #e4e4e4;
}

.btn-warning {
    color: #fff;
    background-color: #f0b400;
    border-color: #f0b400;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
}

.badge {
    padding: 7px !important;
    border-radius: 0.35rem !important;
    font-weight: 600;
    min-width: 80px;
}

/*
.badge-success {
    color: #1cc88a;
    background-color: #FFF;
    border: 2px solid #1cc88a;
}
*/

/*
.badge-warning {
    color: #FFF;
    background-color: #f0b400 !important;
}
*/

.badge-warning-secondary {
    color: #6f6033;
    background-color: #ffecb4;
    /*color: #FFF;
    background-color: #f0b400;
    border: 2px solid #f0b400;*/
}

.btn-warning:hover {
    color: #FFF !important;
}

.badge-danger-secondary {
    color: #e74a3b;
    background-color: #FFF;
    border: 2px solid #e74a3b;
}

/*
.badge-danger {
    color: #e74a3b;
    background-color: #FFF;
    border: 2px solid #e74a3b;
}
*/

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2e6bd3;
    border-color: #2e6bd3;
  }

  .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #2e6bd3;
    background-color: #fff;
    border: 1px solid #dee2e6;
  }

  .category-tag .tagify {
      width: 80%;
      height: 100%;
      overflow: hidden;
      margin-right: 15px;
  }

  .promotion-tag .tagify {
    width: 80%;
    height: 100%;
    overflow: hidden;
    margin-right: 15px;
}

/*
.table-hover > tbody > tr {
    cursor: pointer;
}
*/

.admin-search-wrapper {
    padding-top: 10px; 
    padding-bottom: 20px;
}

.admin-img-table {
    max-height: 120px; 
    max-width: 120px;
}

.search-no-result-img {
    width: 400px;
}

.no-item-cart-img {
    width: 250px;
}

.alert {
    margin-bottom: 20px !important;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0) !important;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0,0,0,.05) !important;
}
*/

/*
input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
    
}

input[type="date"]::-webkit-datetime-edit-year-field {
    position: absolute !important;
    padding: 2px;
    margin-left: 5px;
    padding-left: 5px;
    color:#000;
    left: 56px;
}

input[type="date"]::-webkit-datetime-edit-month-field {
    position: absolute !important;
    padding: 2px;
    padding-left: 5px;
    color:#000;
    left: 30px;
}


input[type="date"]::-webkit-datetime-edit-day-field {
    position: absolute !important;
    color:#000;
    padding: 2px;
    left: 4px;
}
*/

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #2e6bd3;
    border-color: #2e6bd3;
}

.footer-submit {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 5px;
    border-top: 1px solid #dedede;
}

.btn-submit-wrapper {
    margin-left: 300px;
    text-align: center;
}

#btn-submit {
    margin: auto;
    margin-top: 8pt;
    margin-bottom: 8pt;
    width: 200pt;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

#remark {
    margin-top: 15px;
    color: #28a745;
}

.section-login {
    min-height: calc(100vh - 95px);
  }
  
  .section-register {
    min-height: calc(100vh - 95px);
  }

  .required {
    color: red;
  }

  .select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    cursor: text;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #4A4A4A !important;
    line-height: 28px;
    padding-top: 1px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
    height: 40px !important;
    padding: 4px;
}

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 1px;
        right: 7px !important;
        width: 20px;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-color: #000 transparent transparent transparent !important;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            height: 0;
            left: 50%;
            margin-left: -4px;
            margin-top: -2px;
            position: absolute;
            top: 70% !important;
            width: 0;
        }

        .select2-selection__rendered {
            line-height: 31px !important;
        }
        
        .select2-selection__arrow {
            height: 34px !important;
        }

        input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
            color: #fff;
            position: relative;
            
        }
        
        input[type="date"]::-webkit-datetime-edit-year-field {
            position: absolute !important;
            /*border-left:1px solid #8c8c8c;*/
            padding: 2px;
            color:#000;
            left: 56px;
        }
        
        input[type="date"]::-webkit-datetime-edit-month-field {
            position: absolute !important;
            /*border-left:1px solid #8c8c8c;*/
            padding: 2px;
            color:#000;
            left: 30px;
        }
        
        
        input[type="date"]::-webkit-datetime-edit-day-field {
            position: absolute !important;
            color:#000;
            padding: 2px;
            left: 4px;
        }

@media (max-width: 991.98px) {
    .category-tag .tagify {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    #add-product-category-btn {
        width: 100%;
    }

    .promotion-tag .tagify {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-right: 0px;
        margin-bottom: 15px;
    }

    #add-product-promotion-btn {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    section {
        padding: 25px 0;
    }

    .search-no-result-img {
        max-width: 100%;
        height: auto;
    }

    .no-item-cart-img {
        max-width: 100%;
        height: auto;
    }

    .btn-submit-wrapper {
        margin-left: 0 !important;
        text-align: center;
    }

    #product-table > #price {
        min-width: 180px;
    }

    #product-table > #quantity {
        min-width: 100px;
    }
}

.login-img-wrapper {
    padding: 0px;
}

@media (max-width: 767.98px) {
    .login-img-wrapper {
        padding: 15px;
    }
}


@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
